@import "shared.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  text-align: center;
  font-size: 24px;
}

.bio {
  font-size: 120%;
}

.p1 {
  color: #00ff00;
}

.p2 {
  color: #000000;
}

.p3 {
  color: #ff0000;
}

.p4 {
  color: #0000ff;
}

.p1:visited {
  color: #ff0096;
}

.p2:visited {
  color: #94371d;
}

.p3:visited {
  color: #2f2622;
}

.p4:visited {
  color: #ffe286;
}

.container p {
  text-align: center;
}
