html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media (max-width: 992px) and (min-width: 768px) {
  .col-m-1 {
    grid-column: span 1;
  }

  .col-m-2 {
    grid-column: span 2;
  }

  .col-m-3 {
    grid-column: span 3;
  }

  .col-m-4 {
    grid-column: span 4;
  }

  .col-m-5 {
    grid-column: span 5;
  }

  .col-m-6 {
    grid-column: span 6;
  }

  .col-m-7 {
    grid-column: span 7;
  }

  .col-m-8 {
    grid-column: span 8;
  }

  .col-m-9 {
    grid-column: span 9;
  }

  .col-m-10 {
    grid-column: span 10;
  }

  .col-m-11 {
    grid-column: span 11;
  }

  .col-m-12 {
    grid-column: span 12;
  }
}

@media (max-width: 768px) {
  .col-s-1 {
    grid-column: span 1;
  }

  .col-s-2 {
    grid-column: span 2;
  }

  .col-s-3 {
    grid-column: span 3;
  }

  .col-s-4 {
    grid-column: span 4;
  }

  .col-s-5 {
    grid-column: span 5;
  }

  .col-s-6 {
    grid-column: span 6;
  }

  .col-s-7 {
    grid-column: span 7;
  }

  .col-s-8 {
    grid-column: span 8;
  }

  .col-s-9 {
    grid-column: span 9;
  }

  .col-s-10 {
    grid-column: span 10;
  }

  .col-s-11 {
    grid-column: span 11;
  }

  .col-s-12 {
    grid-column: span 12;
  }
}

header {
  text-align: center;
  margin: 20px;
}

.item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: #000;
  background-color: #d5e8d4;
  text-align: center;
  border: 3px solid #000;
  margin: 10px;
  overflow: hidden;
}

.item p {
  margin: 5px;
}

.caption {
  font-weight: bold;
  justify-self: end;
  align-self: start;
  background-color: #000;
  color: #fff;
  border: 3px solid #000;
  border-top: 0;
  border-right: 0;
  width: 100px;
}

.first {
  background-color: #f0a30a;
  color: #000;
}

.second {
  background-color: #d80073;
  color: #fff;
}

.third {
  background-color: #fad9d5;
  color: #000;
}
