html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  text-align: center;
  margin: 20px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

.content {
  color: #000;
  background-color: #fff;
  font-size: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.calc {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  aspect-ratio: 3/4;
  width: 280px;
}
.calc p {
  margin: 10px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

.calc-info {
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  aspect-ratio: 3/4;
  width: 280px;
}
.calc-info p {
  margin: 4px;
}

.calc-info .bracket {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 5px;
}

.calc input {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
}

.calc button {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  border: 1px solid #000;
}

.calc button:hover {
  background-color: #fff;
  color: #000;
}

[class*="col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-1 {
  flex-basis: 8.33%;
}

.col-2 {
  flex-basis: 16.66%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-5 {
  flex-basis: 41.66%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.33%;
}

.col-8 {
  flex-basis: 66.66%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.33%;
}

.col-11 {
  flex-basis: 91.66%;
}

.col-12 {
  flex-basis: 100%;
}

@media (max-width: 992px) and (min-width: 768px) {
  .col-m-1 {
    flex-basis: 8.33%;
  }
  .col-m-2 {
    flex-basis: 16.66%;
  }
  .col-m-3 {
    flex-basis: 25%;
  }
  .col-m-4 {
    flex-basis: 33.33%;
  }
  .col-m-5 {
    flex-basis: 41.66%;
  }
  .col-m-6 {
    flex-basis: 50%;
  }
  .col-m-7 {
    flex-basis: 58.33%;
  }
  .col-m-8 {
    flex-basis: 66.66%;
  }
  .col-m-9 {
    flex-basis: 75%;
  }
  .col-m-10 {
    flex-basis: 83.33%;
  }
  .col-m-11 {
    flex-basis: 91.66%;
  }
  .col-m-12 {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .col-s-1 {
    flex-basis: 8.33%;
  }
  .col-s-2 {
    flex-basis: 16.66%;
  }
  .col-s-3 {
    flex-basis: 25%;
  }
  .col-s-4 {
    flex-basis: 33.33%;
  }
  .col-s-5 {
    flex-basis: 41.66%;
  }
  .col-s-6 {
    flex-basis: 50%;
  }
  .col-s-7 {
    flex-basis: 58.33%;
  }
  .col-s-8 {
    flex-basis: 66.66%;
  }
  .col-s-9 {
    flex-basis: 75%;
  }
  .col-s-10 {
    flex-basis: 83.33%;
  }
  .col-s-11 {
    flex-basis: 91.66%;
  }
  .col-s-12 {
    flex-basis: 100%;
  }
}
